/* Review Box */


/* Rectangle 102 */
.rev-box{
box-sizing: border-box;

position: absolute;
width: 990px;
height: 660px;
left: calc(50% - 975px/2);
top: calc(50% - 639px/2 - 3px);

/* Rec Color */
background: #EFEAD3;
border: 1px solid rgba(0, 0, 0, 0.31);
box-shadow: 0px 4px 17.7px rgba(0, 0, 0, 0.25);
border-radius: 30px;
display: flex;
justify-content: center;
}


/* Write a Review */
.rev-box-title{
position: absolute;
width: fit-content;
height: 45px;
/* left: calc(50% - 244px/2 - 0.5px);
top: 161px; */

font-family: Poppins-Bold;
font-style: normal;
font-weight: 700;
font-size: 29px;
line-height: 48px;
margin-top: 20px;
/* identical to box height */


/* Secondary */
color: #265073;
}



/* Rectangle 103 */
.rev-img{
position: absolute;
width: 200px;
height: 245px;
/* left: calc(50% - 200px/2);
top: 244px; */
border-radius: 30px;
margin-top: 80px;
}


#rev-book-name{
/* Book Name */

position: absolute;
width: fit-content;
height: 45px;
/* left: calc(50% - 188px/2);
top: 512px; */

font-family: Poppins-Bold;
font-style: normal;
font-weight: 700;
font-size: 29px;
line-height: 48px;
/* identical to box height */
margin-top: 325px;

/* Secondary */
color: #265073;
}


#au-name{
/* Author Name */

position: absolute;
width: fit-content;
height: 35px;
/* left: calc(50% - 161px/2 - 0.5px);
top: 565px; */

font-family: Poppins-Regular;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 36px;
/* identical to box height */
margin-top: 380px;
color: #000000;
}



/* Component 15 */
.rev-ratings{
position: absolute;
width: fit-content;
height: 35px;
line-height: 365x;
margin-top: 420px;
}

.rev-txt-btn{
    width: 100%;
    max-height: 100%;
    margin-top: 455px;
    
}

.rev-text{
/* Rectangle 104 */

position: absolute;
width: 700px;
height: 129px;
/* left: 242px;
top: 674px; */

background: #FFFFFF;
border-radius: 20px;
margin-top: 30px;
margin-left: 50px;
}

.rev-text::placeholder{
/* Write your review about this book */

position: absolute;
width: fit-content;
height: 25px;
/* left: 255px;
top: 693px; */

font-family: Poppins-Regular;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */
margin-left: 20px;
color: rgba(0, 0, 0, 0.5);
}


#rev{
/* Reviews */

position: absolute;
width: fit-content;
height: 20px;
/* left: 242px;
top: 641px; */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 10px;
/* identical to box height */
margin-top: 1px;
margin-left: 90px;
color: #000000;
}


.rev-btn{
/* Frame 51 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 18px;
gap: 15px;
margin-left: 800px;
margin-top: 115px;

position: absolute;
width: 140px;
height: 45px;
/* left: 1041px;
top: 774px; */

/* Secondary */
background: #265073;
color: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;

}


