@import url('fonts.css');

/* Ensure body and root elements take full height */
html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
}

/* Make the main container full viewport height */
#book-details-page {
    display: flex;
    flex-direction: column; /* Stack NavigationBar and Content vertically */
    height: 100vh;         /* Full viewport height */
    width: 100vw;          /* Full viewport width */
    background-color: #F6FFDE;
    color: black;
}


#book-details-page-back-button-region {
    background-color: transparent;
    padding: 16px;
    display: flex;
    justify-content: flex-start; /* Align children to the left */
    align-items: center;
    gap: 12px;
    position: sticky;
    top: 80px;
    border-radius: 8px;
}

#book-details-page-back-button-container {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    font-family: "Poppins-Regular", sans-serif;
    margin-left: 24px;
}

.book-details-page-back-button-icon {
    width: 24px;  /* Adjust the icon size as needed */
    height: 24px; /* Adjust the icon size as needed */
    margin-right: 8px; /* Space between the icon and the text */
}