@import url("fonts.css");

/* Full page layout */
#books-my-library-page {
    display: flex;
    flex-direction: column;
    height: 100vh;  /* Makes the page take up the full viewport height */
    width: 100vw;   /* Makes the page take up the full viewport width */
}

/* Container for both sidebar and content */
#books-my-library-page-container {
    display: flex;
    flex-grow: 1;               /* Ensure content grows to fill the available space */
    margin-top: 60px;           /* Adjust for navigation bar height */
    height: calc(100vh - 60px); /* Adjust container height to fill remaining space after navigation bar */
}

#books-my-library-page-content {
    flex-grow: 1;               /* Ensures the content fills the available space */
    display: flex;
    flex-direction: column;     /* Stacks title and information section vertically */
    padding: 20px;
    background-color: #F6FFDE;
    overflow: hidden;
    color: black;
    font-family: "Poppins-Regular", sans-serif;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for profile content */
}