@import url('fonts.css');

/* Full page layout */
.general-profile-page {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Makes the page take up the full viewport height */
    width: 100vw; /* Makes the page take up the full viewport width */
}

/* Container for both sidebar and content */
.general-profile-page-container {
    display: flex;
    flex-grow: 1; /* Ensure content grows to fill the available space */
    margin-top: 60px; /* Adjust for navigation bar height */
    height: calc(100vh - 60px); /* Adjust container height to fill remaining space after navigation bar */
}



/* Main content area */
.general-profile-page-profile-content {
    flex-grow: 1; /* Ensures the content fills the available space */
    display: flex;
    flex-direction: column; /* Stacks title and information section vertically */
    padding: 20px;
    background-color: #F6FFDE;
    overflow-y: auto;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for profile content */
}

#general-profile-page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #265073;
    align-items: center;
    font-family : 'Poppins-Bold', sans-serif;
    text-align: center;    
}

#general-profile-page-profile-information-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;                   /* Allow the section to grow and fill the remaining space */
    flex-shrink: 0;                 /* Prevent it from shrinking below its content size */
    background-color: #EFEAD3;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-top: 8px;
    padding: 20px;
    color: black;
    overflow-y: auto;               /* Enable scrolling if content exceeds the available space */
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
    border-radius: 8px;             /* Optional: Rounded corners */
}