@import url("fonts.css");

html, body {
    background-color: #F6FFDE;
}

#listen-to-book-page {
    width: 100vw;               /* Full viewport width */
    height: 100vh;              /* Full viewport height */
    display: flex;
    color: black;
    flex-direction: column;     /* Stack NavigationBar and Content vertically */
    background-color: #F6FFDE;
}

#listen-to-book-page-top-region {
    gap: 12px;
    top: 72px;
    z-index: 2024;
    display: flex;
    position: sticky;
    margin-left: 64px;
    padding-top: 16px;
    margin-right: 64px;
    align-items: center;
    margin-bottom: 16px;
    background-color: #F6FFDE;
    justify-content: space-between;     /* Space between left and right buttons */
}

#listen-to-book-page-back-button-container {
    display: flex;
    cursor: pointer;
    font-size: 16px;
    margin-left: 24px;
    position: relative;
    align-items: center;
    font-family: "Poppins-Regular", sans-serif;
}

.listen-to-book-page-back-button-icon {
    width: 24px;                        /* Adjust the icon size as needed */
    height: 24px;                       /* Adjust the icon size as needed */
    margin-right: 8px;                  /* Space between the icon and the text */
}

#listen-to-book-page-content-region {
    background-color: #4D4D4D;      /* Light grey background */
    flex-direction: column;             /* Stack children vertically */
    margin-bottom: 16px;                /* Space between the content and the bottom */
    margin-right: 64px;
    margin-left: 64px;
    margin-top: 64px;                   /* Space between the content and the top */
    display: flex;
    flex-grow: 1;  
}

#listen-to-book-page-content-header {
    background-color: transparent;
    justify-content: center;            /* Center the navigation */
    align-items: center;
    position: relative;                 /* This makes the parent container a reference point for absolute positioning */
    padding: 10px 0px;
    min-height: 48px;
    color: white;
    display: flex;
    width: 100%;
    z-index: 1;
}

#listen-to-book-page-book-details-section {
    top: 50%;                           /* Vertically center the navigation section */
    gap: 12px;                          /* Space between the cover image and text */
    left: 200px;
    display: flex;
    position: absolute;                 /* Position it absolutely within the parent */
    align-items: center;                /* Vertically align content */
    transform: translate(-50%, -50%);   /* Adjust for true vertical centering */
}

#listen-to-book-page-navigation-section {
    display: flex;
    padding: 0 0px;
    align-items: center;
    position: absolute;                 /* Absolute positioning inside the parent */
    right: 0px;
    justify-content: space-between;     /* Space between navigation buttons and page number */
    top: 50%;                           /* Vertically center the navigation section */
    transform: translate(-50%, -50%);   /* Adjust for true vertical centering */
}

#listen-to-book-page-audio-controls-section {
    display: flex;
    align-items: center;             /* Center align items horizontally */
    flex-direction: column;          /* Stack children vertically */
    width: 100%;
    max-width: 600px;
}

.listen-to-book-page-navigation-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#listen-to-book-page-navigation-section span {
    font-size: 16px;
    font-family: "Poppins-Regular", sans-serif;
}

.listen-to-book-page-navigation-button {
    background-color: transparent;
    margin-left: 12px;
    margin-right: 12px;
}

.listen-to-book-page-navigation-button:hover {
    border-color: grey;
}

#listen-to-book-page-book-cover {
    width: auto;            /* Set width to auto to maintain aspect ratio */
    height: 48px;           /* Set height to 80% of the parent's height */
    cursor: pointer;        /* Change cursor to pointer on hover */
    object-fit: cover;      /* Maintain the aspect ratio and ensure it fills the space without stretching */
    border-radius: 8px;     /* Optional: Rounded corners */
}

#listen-to-book-page-book-details {
    font-size: 12px;
    font-family: "Poppins-Regular", sans-serif;
}

#listen-to-book-page-book-title {
    font-size: 16px;
    font-weight: bold;
}

#listen-to-book-page-book-author {
    font-size: 12px;
}

.listen-to-book-page-content-page {
    background-color: white; /* White background for each page */
    color: black;           /* Black text color */
    width: 40%;                 /* 25% width of the parent */
    height: 100%;               /* Take the full height of the parent */
    padding: 16px;
    box-sizing: border-box;     /* Ensure padding doesn't affect the width */
}
  
#listen-to-book-page-content-body {
    width: 100%;                /* Full width of the parent */
    display: flex;
    padding-bottom: 8px;
    justify-content: center;    /* Center the two pages horizontally */
    align-items: flex-start;    /* Align the pages at the top */
    height: calc(100% - 64px);  /* The remaining height of the parent */
}

.listen-to-book-page-button-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#listen-to-book-page-read-button {
    z-index: 2025;
    color: white;
    background-color: #265073;
    transition: background-color 0.3s;
    font-family: "Poppins-Regular", sans-serif;
}

#listen-to-book-page-read-button:hover {
    background-color: #0f4ba3;
}

#listen-to-book-page-top-region-right-part {
    gap: 12px;
    display: flex;
    align-items: center;
    font-family: "Poppins-Regular", sans-serif;
}

#listen-to-book-page-voice-select {
    cursor: pointer;
    font-size: 16px;
    color: #265073;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 12px;
    background-color: white;
    border: 2px solid #265073;
    font-family: "Poppins-Regular", sans-serif;
    transition: background-color color border 0.3s ease-in-out;
}

#listen-to-book-page-voice-select:hover {
    color: #0f4ba3;
    border: 2px solid #0f4ba3;
}

.audio-controls-top-row {
    display: flex;
    margin-bottom: 4px;
    align-items: center;
    justify-content: center;
}

.audio-control-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 4px;
}

.audio-control-icon-play-pause {
    width: 40px;
    height: 40px;
}

.audio-control-icon-previous
.audio-control-icon-next {
    width: 32px;
    height: 32px;
}

.audio-controls-bottom-row {
    gap: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio-progress-slider {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #ccc;
    border-radius: 4px;
}