@import url("fonts.css");

#read-book-page {
    display: flex;
    flex-direction: column; /* Stack NavigationBar and Content vertically */
    height: 100vh;         /* Full viewport height */
    width: 100vw;          /* Full viewport width */
    background-color: #F6FFDE;
    color: black;
}

#read-book-page-top-region {
    background-color: transparent; /* Light blue background */
    margin-left: 64px;
    margin-right: 64px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;  /* Space between left and right buttons */
    align-items: center;
    gap: 12px;
    position: sticky;
    top: 72px;
    border-radius: 8px;
}

#read-book-page-back-button-container {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    font-family: "Poppins-Regular", sans-serif;
    margin-left: 24px;
}

.read-book-page-back-button-icon {
    width: 24px;        /* Adjust the icon size as needed */
    height: 24px;       /* Adjust the icon size as needed */
    margin-right: 8px;  /* Space between the icon and the text */
}

#read-book-page-listen-button {
    background-color: white;
    color: #265073;
    border: 2px solid #265073;
    padding: 10px 20px;   /* Adjust padding for button size */
    border-radius: 12px;   /* Optional: Rounded corners */
    cursor: pointer;
    font-family: "Poppins-Regular", sans-serif;
    transition: background-color color border 0.3s ease-in-out;
}

#read-book-page-listen-button:hover {
    background-color: rgb(242, 242, 242);
    color: #1A3E5C;
    border: 2px solid #1A3E5C;
}

#read-book-page-content-region {
    background-color: #4D4D4D;   /* Light grey background */
    flex-grow: 1;                /* Allow it to grow and take remaining space */
    margin-bottom: 16px;         /* Space between the content and the bottom */
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 64px;            /* Space between the content and the top */
    /* No centering here now */
    display: flex;
    flex-direction: column;      /* Stack children vertically */
}


#read-book-page-content-header {
    position: sticky;
    top: 0; /* Fix header at the top of the content region */
    background-color: transparent; /* White background for the header */
    padding: 10px 20px;
    /*border-bottom: 2px solid #ddd;*/ /* Optional: A subtle border between header and content */
    display: flex;
    justify-content: center; /* Center the navigation */
    align-items: center;
    color: white;
    width: 100%;
}

#read-book-page-navigation-section {
    display: flex;
    justify-content: space-between; /* Space between the navigation buttons and page number */
    align-items: center;
    padding: 0 20px;
}

.read-book-page-navigation-icon {
    width: 24px; /* Icon size */
    height: 24px;
    cursor: pointer;
}

#read-book-page-navigation-section span {
    font-size: 16px;
    font-family: "Poppins-Regular", sans-serif;
}

.read-book-page-navigation-button {
    background-color: transparent;
    margin-left: 12px;
    margin-right: 12px;
}

.read-book-page-navigation-button:hover {
    border-color: grey;
}