@import url('fonts.css');

/* Full page layout */
.statistics-profile-page {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Makes the page take up the full viewport height */
    width: 100vw; /* Makes the page take up the full viewport width */
}

/* Container for both sidebar and content */
.statistics-profile-page-container {
    display: flex;
    flex-grow: 1; /* Ensure content grows to fill the available space */
    margin-top: 60px; /* Adjust for navigation bar height */
    height: calc(100vh - 60px); /* Adjust container height to fill remaining space after navigation bar */
}



/* Main content area */
.statistics-profile-page-profile-content {
    flex-grow: 1; /* This allows it to fill the remaining space */
    padding: 20px;
    text-align: center;
    background-color: #F6FFDE;
    overflow-y: auto;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for profile content */
}

#statistics-profile-page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #265073;
    align-items: center;
    font-family : 'Poppins-Bold', sans-serif;
}

